@import url(https://fonts.googleapis.com/css?family=Open+Sans);

img {  
	object-fit:cover;
}

.wrapper {
  	background-color:#f2f2f2;
  	height: cover;
}

.title {
	font-family:"Open Sans",serif;
	text-align: center;
	font-size: 80px;
	padding:100px;
}

.subtitle {
	font-family:"Open Sans",serif;
	text-align: center;
	font-size: 40px;
	color:#4d4d4d;
}

.section-title {
	font-family:"Open Sans",serif;
	text-align: left;
	font-size: 30px;
	color:#4d4d4d;
	padding-top:60px;
}

.about-text{
	font-family:"Open Sans",serif;
	text-align: left;
}

hr {
	border-color: black;
}

.school-name {
	font-family:"Open Sans",serif;
	text-align: left;
	padding-bottom:30px;
}

.time {
	font-family:"Open Sans",serif;
}

.location {
	font-family:"Open Sans",serif;
	font-size: 15px;
	font-style: italic;
	color:#4d4d4d;
}

.description {
	font-family:"Open Sans",serif;
	color:#4d4d4d;
	font-size:13px;
}

.event {
	font-family:"Open Sans",serif;
	font-size:18px;
	padding-bottom:20px;
}

.footer-text {
	font-family:"Open Sans",serif;
	font-size:12px;
	color:#4d4d4d;
}